.banner-image{
  width: 424px;
  height: auto;
  aspect-ratio: 424/auto;
  -webkit-user-drag: none;
  user-drag: none;
}

.pixel-corners-for-gif,
.pixel-corners-for-gif--wrapper {
    clip-path: polygon(0px calc(100% - 12px),
        6px calc(100% - 12px),
        6px calc(100% - 6px),
        12px calc(100% - 6px),
        12px 100%,
        calc(100% - 12px) 100%,
        calc(100% - 12px) calc(100% - 6px),
        calc(100% - 6px) calc(100% - 6px),
        calc(100% - 6px) calc(100% - 12px),
        100% calc(100% - 12px),
        100% 12px,
        calc(100% - 6px) 12px,
        calc(100% - 6px) 6px,
        calc(100% - 12px) 6px,
        calc(100% - 12px) 0px,
        12px 0px,
        12px 6px,
        6px 6px,
        6px 12px,
        0px 12px);
    position: relative;
    background-color: #fff;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 3rem !important;
    padding-left: 3rem !important; */
    /* margin-left: auto;
    margin-right: auto; */
}
.pixel-corners-for-gif {
  border: 12px solid transparent;
}
.pixel-corners-for-gif--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-for-gif--wrapper .pixel-corners-for-gif {
  display: block;
  clip-path: polygon(12px 18px,
    18px 18px,
    18px 12px,
    calc(100% - 18px) 12px,
    calc(100% - 18px) 18px,
    calc(100% - 12px) 18px,
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 12px),
    18px calc(100% - 12px),
    18px calc(100% - 18px),
    12px calc(100% - 18px));
}
.pixel-corners-for-gif::after,
.pixel-corners-for-gif--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 12px),
    6px calc(100% - 12px),
    6px calc(100% - 6px),
    12px calc(100% - 6px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px,
    0px 50%,
    12px 50%,
    12px 18px,
    18px 18px,
    18px 12px,
    calc(100% - 18px) 12px,
    calc(100% - 18px) 18px,
    calc(100% - 12px) 18px,
    calc(100% - 12px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 18px),
    calc(100% - 18px) calc(100% - 12px),
    18px calc(100% - 12px),
    18px calc(100% - 18px),
    12px calc(100% - 18px),
    12px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.pixel-corners-for-gif::after {
  margin: -12px;
}

/* WIDE IPHONE SE, XR, 12 PRO, PIXEL, S8+, S20 Ultra, A51/71 */
@media screen and (min-width:667px) and (max-width: 932px){
  .banner-image{
    width: 190px!important;
    height: auto;
  }
}